[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
rx = "*"
funcy = "*"
pytz = "*"
tzlocal = "*"
rx-weather = {editable = true,path = "."}

[dev-packages]
